<?xml version="1.0" encoding="utf-8"?>
<manifest>

    <application>
        <!--        <activity-->
        <!--            android:name=".ReaderActivity"-->
        <!--            android:label="Reader" />-->

        <!--        <service-->
        <!--            android:name=".MediaService"-->
        <!--            tools:ignore="ExportedService"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="true">-->

        <!--            <intent-filter>-->
        <!--                <action android:name="androidx.media2.session.MediaSessionService" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->
    </application>
</manifest>